

body {
   background-color: rgb(35, 155, 225);
   font: normal 15px;
}

#msg {
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
}
#foto {
    text-align: center;    
    margin-top: 20px;
}

#foto img {

    width: 250px;           /* TAMANHO que você quer */
    height: 250px;          /* igual pra ficar círculo */
    border-radius: 50%;     /* deixa redondinha */
    object-fit: cover;      /* recorta sem esticar */
}

#res {
    text-align: center;
}
 header {
     color: white;
     text-align: center;
 }
section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.437);
}
footer {
    color: white;
   text-align: center;
   font-style: italic;
   
}
